
/.vs
/SPHealthSupportSystem_APIService/obj
/SPHealthSupportSystem_Repositories/obj
/SPHealthSupportSystem_Services/obj
*.json
/SPHealthSupportSystem_APIService/bin
/SPHealthSupportSystem_Repositories/bin
/SPHealthSupportSystem_Services/bin
/SPHealthSupportSystem_MVCWebApp/bin
/SPHealthSupportSystem_MVCWebApp/bin
/SPHealthSupportSystem_MVCWebApp/bin
/SPHealthSupportSystem_MVCWebApp/obj
/SPHealthSupportSystem_MVCWebApp/bin
/SPHealthSupportSystem_MVCWebApp/bin/Debug
/SPHealthSupportSystem_MVCWebApp/bin
/SPHealthSupportSystem_MVCWebApp/obj
